MONGO_URL=mongodb://user:pass@<cluster>/?
TOKEN_SECRET=youTOKENsecret
DOMAIN=http://localhost:3000
MAIL_HOST=domain.smtp.service.io
MAIL_PORT=0203
MAIL_USER=X............6
MAIL_PASS=5............D
SENDER_EMAIL=test@test.com